.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
src/rust/vendor
src/Makevars
src/Makevars.win
src/rust/target/
src/*.o
src/*.so
src/*.dll
warp-mapping-prototype.html
warp-mapping-prototype_files
tiles
tiles_mawson
src/rust/.cargo
